.initial-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #492b62; /* Background color */
  color: #ffffff; /* Text color */
  z-index: 1000;
  transition: opacity 1s ease-in-out;
}

.initial-page.fade-out {
  opacity: 0;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  animation: fade-in 1.5s ease-out forwards;
}

.typewriter {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
  margin-left: 5px;
  animation: blink 0.5s step-end infinite;
}

/* Cursor blink animation */
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Fade-in animation for image */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
