/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    background-color: #492b62;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family:cursive;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.portfolio-heading .logo {
    display: flex;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.portfolio-heading .logo span {
    transition: transform 0.3s ease;
}

.portfolio-heading .logo:hover span {
    transform: translateY(-5px);
    color: #c29696;
}

/* Navigation links */
.navbar-section {
    display: flex;
    gap: 20px;
}

.navbar-section a {
    font-size: 16px;
    color: #b6b3b3;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    position: relative;
    transition: background 0.3s ease, color 0.3s ease;
}

.navbar-section a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #c29696;
    transition: width 0.3s ease;
}

.navbar-section a:hover,
.navbar-section a.active {
    color: white;
}

.navbar-section a:hover::after,
.navbar-section a.active::after {
    width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px 20px;
    }

    .navbar-section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navbar-section a {
        font-size: 18px;
    }
}
