.container {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-details {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* Contact form header */
.contact-header {
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 1rem;
  color: #333;
}

/* Contact information section - Ensure consistent centering */
#contact-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #333;
  text-decoration: none;
  justify-content: center;
}

.contact-item .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#contact-div a:hover {
  color: #0073e6;
  text-decoration: underline;
}

.contact-item-phone {
  display: flex;
  flex-direction: row;
}

.emailForm {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.emailForm h2 {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.emailForm input,
.emailForm textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.emailForm button {
  width: 100%;
  padding: 12px;
  background-color: #c29696;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.emailForm button:hover {
  background-color: #005bb5;
}

.succesful-response-appear {
  display: none;
}

#succesful-response-after-sending {
  color: green;
}

#unsuccesful-response-after-sending {
  color: red;
}

.unsuccesful-response-appear {
  display: none;
}

.appear {
  margin-top: 2rem;
  text-align: center;
}